*, *::after, *::before {
    box-sizing: border-box;
}

@font-face {
    font-family: modeseven;
    src: url(../fonts/modes.ttf) format('truetype');
}

:root {
    font-family: 'modeseven';
    color: #FFFFFF;
    font-size: 12px;
}

body {
    margin: 0;
    background-image: url(../img/fundo-ruído.png);

}

/********************** NAVBAR **************************/
.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: 100%;
    height: 8vh;

    background: rgba(4, 4, 4, 0.69);
    border-bottom: 3px solid #6E3A18;
}

.navbar .links {
    display: flex;
    
    white-space: nowrap;
    text-overflow: ellipsis;
}

.navbar .links a {
    text-decoration: none;
    font-family: 'modeseven';
    color: #FFFFFF;
    font-size: 3.5vh;
    padding: 20px 35px;

}

.navbar .links a:hover {
    color: #000000;
    background-color: #FFFFFF;
    transition: 400ms;
}

/********************** INDEX **************************/
.apresentacao {
    display: inline-block;
    position: relative;
    width: 40vw;

    margin: 8vh 0 0 8vw;
}

.apresentacao img {
    width: 50vw;
}

.texto-apresentacao {
    position: absolute;
    top: 20%;
    left: 20%;
}

.texto-apresentacao h1 {
    font-size: 2.2vw;
}

.texto-apresentacao p {
    font-size: 2.5vw;
}

.texto-apresentacao p #nome, #nome:visited {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    font-size: 3.5vw;
}

.texto-apresentacao p #nome:hover {
    color: #000000;
    -webkit-text-stroke: 1px #D35300;
}

.texto-apresentacao #curso {
    font-size: 1.5vw
}

.farol {

    position: absolute;
    width: 20vw;
    height: auto;

    right: 0;
    bottom: 0;
}

.passaro {
    position: absolute;
    right: 10vw;
    bottom: 3vh;

    width: 16vw;
    height: auto;
}

/********************** SOBRE MIM **************************/
#foto {

    width: 15vw;
    height: auto;
    
    margin: 0 0 0 4vw;
    border: 1px solid #FFFFFF;

}

.sobre-titulo {
    color: #D35300;
    font-size: 3.5rem;

    float: top;
    margin: 10vh 0 0 21vw;
}

.sobre-texto {
    position: absolute;
    left: 21vw;
    top: 21vh;
    margin-top: 1vh;

    display: flex; 
    
}

.sobre-texto .paragrafo {
    display: flex;

    font-size: 1.75rem;
    font-weight: normal;
    line-height: 4vh;

    margin-right: 2.5vw;
}

.sobre-texto .paragrafo p {
    text-align: justify;
}

#gradiente {

    position: absolute;
    width: 60vw;
    height: 7vh;
    left: 4vw;
    bottom: 5vh;
    

    background: linear-gradient(270deg, rgba(255, 98, 0, 0.67) 0%, rgba(217, 217, 217, 0) 100%);
    mix-blend-mode: screen;
    border: 2px solid #261C1C;
}

.molecula {
    position: absolute;
    bottom: 0px;
    right: 40px;

    opacity: 0.35;
}

/********************** CONTATOS **************************/
#form {

    width:50%;
    height: 80%;
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    border: 2px solid #FFFFFF;
    border-radius: 25px;
}

#form h1, textarea {
    margin-top: 40px;
    margin-left: 40px;

    background-color: transparent;

    font-family: inherit;
    color: inherit;
    width: 44vw;
}
#form textarea {
    font-size: 1.2vw;
}

#form form button {
    position: absolute;
    left: 44%;
    top: 54%;

    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    padding: 10px;

    color: inherit;
    font-family: inherit;
    font-size: 1.2vw;

    cursor: pointer;
}

#form form button:hover {
    background-color: #FFFFFF;
    color: #000000;
    transition: 300ms;
}

.redes-sociais {
    position: absolute;
    left: 14%;
    top: 80%;
}


.redes-sociais a {
    text-decoration: none;
    margin-left: 70px;
}

.redes-sociais a img {
    width: 50px;
    height: 50px;
}


#mão {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

#mão-invertida {
    position: absolute;
    bottom: 0px;
    right: 0px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.projetos img {
    position: absolute;
    left: 30%;
    transform: translate(-50%, -50%);
    transform: rotate(90deg);
    opacity: 0.1;

    width: 39%;
}

.grade-projetos {
    width: 80vw;
    display: inline;
    
}

.grade-projetos .moldura1, .moldura2, .moldura3{
    position: absolute;
    margin: 10px;
    width: 270px;
    height: 300px;

    border: 1px solid #FFFFFF;
    text-align: justify;
    padding: 10px;
}

.moldura1 {
    left: 8vw;
    top: 30vh;
}

.moldura2 {
    left: 40vw;
    top: 30vh;
}

.moldura3 {
    left: 70vw;
    top: 30vh;
}

.moldura1 a, .moldura2 a, .moldura3 a {
    position: absolute;
    bottom: 3vh;
    text-decoration: none;
    color: #D35300;
}

.projetos #disclaimer {
    position: absolute;
    bottom: 5vh;
    margin-left: 50px;
}