<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <link rel="icon" href="../static/img/icone-seta.png">
    {% block title %}
    <title>Document</title>
    {% endblock %}
</head>
<body>
    <header>
        <div class="navbar">
            <div>
                <img src="../static/img/menu.png" alt="icone menu" onclick="clickMenu()">
            </div>
            <div class="links" id="menu">
                <a href="/">Inicio</a>
                <a href="/sobre">Sobre Mim</a>
                <a href="/projetos">Projetos</a>
                <a href="/contato">Contato</a>
            </div>
        </div>
    </header>
    {% block content %}
    {% endblock %}
    <script>
        function clickMenu() {
            let tamanhoTela = window.matchMedia("(max-width:665px)");
            if (tamanhoTela.matches) {
                if (menu.style.display == 'none') {
                    menu.style.display = 'flex'
                } else {
                    menu.style.display = 'none'
                }
                } else {
                    tamanhoTela.removeListener();
                }
            }
    </script>
</body>
</html>