{% extends 'base.html' %}
{% block title %} <title>Portifólio | Vinicius Laranjeiro</title> {% endblock %}
{% block content %}
    <figure class="apresentacao">
        <img src="../static/img/moldura-pixel.png" alt="">
        <figcaption class="texto-apresentacao">
            <h1 id="bem-vindo"> Ola, seja bem-vindo(a)</h1> <br>
            <p>
                Eu sou o <a href="/sobre" id="nome">Vinicius</a> <br>
                <span id="curso">Estudante de Desenvolvimento de Software</span>
            </p>
        </figcaption>
    </figure>
    <img src="../static/img/farol.png" alt="farol em bitmap" class="farol">
    <img src="../static/img/pássaros.png" alt="pássaros em bitmap" class="passaro">
{% endblock %}