<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <title>Document</title>
</head>
<body class="index">
    <header>
        <div class="navbar">
            <div class="links">
                <a href="">Início</a>
                <a href="">Sobre Mim</a>
                <a href="">Projeto</a>
                <a href="">Contato</a>
            </div>
        </div>
    </header>
    <div class="farol">
        <img src="../static/img/farol.png" alt="farol-bitmap">
    </div>
</body>
</html>