<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <title>Projetos | Vinicius Laranjeiro</title>
</head>
<body>
    <div class="projetos">
        <header>
            <div class="navbar">
                <div class="links">
                    <a href="index.html">Início</a>
                    <a href="sobre-mim.html">Sobre Mim</a>
                    <a href="projetos.html">Projetos</a>
                    <a href="contato.html">Contato</a>
                </div>
            </div>
        </header>
        <img src="../static/img/seiol.png" alt="seiol">
        <div class="grade-projetos">
            <div class="moldura1">
                <h2>Internet Banking</h2>
                <p>Banco digital Guara. Projeto academico desenvolvido para a FATEC de Sao Jose dos Campos.</p>
                <a href="https://github.com/EquipeAPI/API-1DSM-2022" target="_blank">Mais informacoes</a>
            </div>
            <div class="moldura2">
                <h2>Em breve</h2>
                <p>Em breve</p>
                <a href="">Mais informacoes</a>
            </div>
            <div class="moldura3">
                <h2>Em breve</h2>
                <p>Em breve</p>
                <a href="">Mais informacoes</a>
            </div>
        </div>
        <p id="disclaimer">Projetos futuros ou ja realizados que tiveram envolvimento meu</p>
    </div>
</body>
</html>