{% extends 'base.html'%}
{% block title %} <title>Projetos | Vinicius Laranjeiro</title> {% endblock %}
{% block content %}
<h1 id="disclaimer">Projetos futuros ou ja realizados que tiveram envolvimento meu</h1>
<div class="grade-projetos">
    <div class="projeto">
        <h2>Internet Banking</h2>
        <p>Banco digital Guara. Projeto academico desenvolvido para a FATEC de Sao Jose dos Campos.</p>
        <a href="https://github.com/EquipeAPI/API-1DSM-2022" target="_blank">Mais informacoes</a>
    </div>
    <div class="projeto">
        <h2>Em breve</h2>
        <p>Em breve</p>
        <a href="">Mais informacoes</a>
    </div>
    <div class="projeto">
        <h2>Em breve</h2>
        <p>Em breve</p>
        <a href="">Mais informacoes</a>
    </div>
</div>
{% endblock %}