{% extends 'base.html' %}
{% block title %} <title>Sobre | Vinicius Laranjeiro</title> {% endblock %}
{% block content %}
<h1 class="sobre-titulo">Sobre Mim</h1>

<img src="../static/img/perfil.jpeg" alt="eu" id="foto">

<div class="sobre-texto">
    <div class="paragrafo">
        <p>Ola, eu me chamo Vinicius. Nasci na cidade de Aruja - SP e cresci variando entre as regioes da Grande Sao Paulo e o Vale do Paraiba. Minha vida, mesmo que ainda curta, ja passou por algumas mudancas, seja na vida pessoal, areas de estudo ou trabalho. Comecei fazendo meu ensino medio junto ao Tecnico em Quimica na ETEC de Suzano e ja trabalhei de maneira informal e em industria.</p>
    </div>
    <div class="paragrafo">
        <p>Agora estou me arriscando na area de Tecnologia, iniciei minha graduacao em Desenvolvimento de Software Multiplataforma pela FATEC de Sao Jose dos Campos e esse mesmo site faz parte dos primeiros frutos do curso. Espero conseguir me encontrar e usar dos conhecimentos para desenvolver projetos nas minhas areas de interesse. Da Quimica para a Programacao, veremos onde isso vai dar.</p>
    </div>
</div>

<img src="../static/img/molécula.png" alt="molécula em bitmap" class="molecula">

<div id="gradiente">
</div>
{% endblock %}