<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <title>Sobre Mim</title>
</head>
<body>
    <div id="sobre-mim">
        <header>
            <div class="navbar">
                <div class="links">
                    <a href="index.html">Início</a>
                    <a href="sobre-mim.html">Sobre Mim</a>
                    <a href="projetos.html">Projeto</a>
                    <a href="contato.html">Contato</a>
                </div>
            </div>
        </header>
        <div id="foto">

        </div>
        <h1>Sobre Mim</h1>

        <p class="paragrafo1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime optio laudantium temporibus vitae! Impedit totam odit explicabo a modi ut cum autem in, esse laborum veniam ea eius, architecto corrupti. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem nesciunt doloribus voluptates explicabo aut hic veniam omnis labore ipsum placeat tempora quibusdam nobis voluptatum modi, consequatur dolorem assumenda sit corrupti. Valar morghulis valar dohaeris.</p>

        <p class="paragrafo2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime optio laudantium temporibus vitae! Impedit totam odit explicabo a modi ut cum autem in, esse laborum veniam ea eius, architecto corrupti. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem nesciunt doloribus voluptates explicabo aut hic veniam omnis labore ipsum placeat tempora quibusdam nobis voluptatum modi, consequatur dolorem assumenda sit corrupti. Valar morghulis valar dohaeris.</p>

        </div>
    
        <div id="gradiente">
        </div>

        <img src="../static/img/molécula.png" alt="molécula-bitmap" id="molécula">
    </div>
</body>
</html>