{% extends 'base.html' %}
{% block title %} <title>Sobre | Vinicius Laranjeiro</title> {% endblock %}
{% block content %}
<h1 class="sobre-titulo">Sobre Mim</h1>

<img src="../static/img/perfil.jpeg" alt="eu" id="foto">

<div class="sobre-texto">
    <div class="paragrafo">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime optio laudantium temporibus vitae! Impedit totam odit explicabo a modi ut cum autem in, esse laborum veniam ea eius, architecto corrupti. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem nesciunt doloribus voluptates explicabo aut hic veniam omnis labore ipsum placeat tempora quibusdam nobis voluptatum modi, consequatur dolorem assumenda sit corrupti. Valar morghulis valar dohaeris.</p>
    </div>
    <div class="paragrafo">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime optio laudantium temporibus vitae! Impedit totam odit explicabo a modi ut cum autem in, esse laborum veniam ea eius, architecto corrupti. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem nesciunt doloribus voluptates explicabo aut hic veniam omnis labore ipsum placeat tempora quibusdam nobis voluptatum modi, consequatur dolorem assumenda sit corrupti. Valar morghulis valar dohaeris.</p>
    </div>
</div>

<img src="../static/img/molécula.png" alt="molécula em bitmap" class="molecula">

<div id="gradiente">
</div>
{% endblock %}